title: Sofía Celi - cryptographer
email: cherenkov@riseup.net
description: >- # this means to ignore newlines until "baseurl:"
      The website of the cryptographer Sofía Celi.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://claucece.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: claucece
github_username:  claucece

markdown: kramdown

sass:
  sass_dir: _sass

plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
