---
layout: default
---

<div id="main">
  <div class="home-container">
    <div class="intro">
		  <div class="full-display">
        <img src="/images/intro_web.svg" class="inside-image" alt="I'm a cryptographic developer and implementer" />
			</div>
			<div class="mobile-display">
        <img src="/images/intro_web_mobil.svg" class="inside-image" alt="I'm a cryptographic developer and implementer" />
			</div>
    </div>
</div>

<div class="explanation">
 <p>In Spanish, the accent of a word is called a 'tilde'. See RAE for reference ;).</p>
</div>

<div class="container">
  <div class="flex-container">
    {% for page in site.pages %}
      {% if page.tags == "menu" %}
    <div class="flex-item">
		  <br>
      <a class="index-link" href="{{ page.url | prepend: site.baseurl }}" ><p class="media-text">{{ page.title }}</p></a>
	  </div>
		  {% endif %}
    {% endfor %}
	</div>
</div>
