---
layout: default
---

<div id="main">
  <div class="home-container">
    <div class="logo">
      <object class="inside-image" data="/images/intro_web.svg" type="image/svg+xml"> <img src="/images/logo.png" class="inside-png-image" alt="OTR logo" /> </object>
    </div>
</div>

<div class="explanation">
 <p>In Spanish, the accent of a word is called a 'tilde'. See RAE for reference ;).</p>
</div>

<div class="container">
  <div class="flex-container">
    {% for page in site.pages %}
      {% if page.tags == "menu" %}
    <div class="flex-item">
		  <br>
      <a href="{{ page.url | prepend: site.baseurl }}" ><p>{{ page.title }}</p></a>
	  </div>
		  {% endif %}
    {% endfor %}
	</div>
</div>
