<header class="site-header">

    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/" title="Home">
          <img src="/images/home.svg" class="home-logo" alt="Home logo" />
        </a>

      <div class="menu">
        {% if page.layout == "page" %}
          {% for page in site.pages %}
            {% if page.tags == "menu" %}
              <a class="menu-link" href="{{ page.url | prepend: site.baseurl }}" >{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if page.layout == "post" %}
          {% for page in site.pages %}
            {% if page.tags == "menu" %}
              <a class="menu-link" href="{{ page.url | prepend: site.baseurl }}" >{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

    </div>

</header>
