/**
 * Homepage
 */

#main {
  margin-bottom: 150px;
  @include media-query($on-palm) {
    margin-bottom: 0px;
  }
}

.home-content {
    padding-top: 5px;
}

.home-container {
  display: -webkit-flex;
  display: flex;
}

.intro {
    width: $full-width;
    padding-bottom: 25px;
    margin-top: 170px;

    > .inside-image {
      width: $full-width;
    }

  @include media-query($on-palm) {
    padding-bottom: 0px;
    margin-top: 140px;

    > .inside-image {
      width: $full-width;
    }
  }
}

.full-display {
  @include media-query($on-palm) {
    display: none;
  }
}

.mobile-display {
  display: none;
  @include media-query($on-palm) {
    display: block;
  }
}

.explanation {
    font-size: 14px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;

  @include media-query($on-palm) {
    font-size: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
