/**
 * Homepage
 */

#main {
  margin-top: 100px;
  margin-bottom: 150px;
}

.home-content {
    padding-top: 5px;
}

.home-container {
  display: -webkit-flex;
  display: flex;
  margin-top: $box-indent;
}

.logo {
    width: $full-width;
    padding-bottom: 25px;

    > .inside-image {
      width: $full-width;
    }

    > .inside-png-image {
      margin-top: 7px;
      width: $full-width;
    }

}

.explanation {
    font-size: 14px;
    margin-left: 80px;
    margin-bottom: 50px;
}
