/**
 * Site header
 */

@use "variables";
@use "sass:math";

.site-header {

    //fix the header in the top
    position: fixed;
    width: variables.$full-width;
    background-color: white;

    z-index: 1;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    width: 12%;

    &,
    &:visited {
        color: variables.$black-color;
    }

    .mobile-header {
        display: none;
        @include variables.media-query(variables.$on-palm) {
            display: inline;
            width: 50%;
        }
    }

    @include variables.media-query(variables.$on-palm) {
            width: 50%;
    }
}

.menu {
    clear: both;
    float: right;
    margin-top: -50px;
    font-size: 20px;

    @include variables.media-query(variables.$on-palm) {
        margin-left: 90px;
    }
}

.menu-link {
    background-color: white;
    border-top: 55px solid variables.$strong-orange-color;

    &,
    &:hover {
        color: variables.$black-color;
    }

    @include variables.media-query(variables.$on-palm) {
        border-top: 0px;
        border-right: 5px solid variables.$strong-orange-color;
        font-size: 16px;
        text-align: right;
        padding: 3px;
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: variables.$spacing-unit;
    background-color: variables.$strong-orange-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


.footer-link {
    text-decoration: none;
    background-color: variables.$strong-orange-color;
    padding: 0px;

}

.footer-col-wrapper {
    margin-left: calc((#{-(variables.$spacing-unit)}) / 3);
}

.footer-col {
    float: left;
    padding-left: calc((#{variables.$spacing-unit}) / 3);

}


.footer-col-1 {
  width: -webkit-calc(60% - #{math.div(variables.$spacing-unit, 2)});
  width:         calc(60% - #{math.div(variables.$spacing-unit, 2)});
}

@include variables.media-query(variables.$on-laptop) {
  .footer-col-1 {
    width: -webkit-calc(50% - #{math.div(variables.$spacing-unit, 2)});
    width:         calc(50% - #{math.div(variables.$spacing-unit, 2)});
  }
}

@include variables.media-query(variables.$on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(#{variables.$full-width} - #{math.div(variables.$spacing-unit, 2)});
    width:         calc(#{variables.$full-width} - #{math.div(variables.$spacing-unit, 2)});

    > h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    > p {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
}

/**
 * Page layout
 */

.page-header {
    font-family: variables.$base-font-family;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 170px;
}

.page-title {
    font-size: 52px;
    font-weight: bold;
    line-height: 1;

    @include variables.media-query(variables.$on-laptop) {
        font-size: 30px;
    }
}

.page-content {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
    font-family: variables.$page-font-family;
    font-size: 19px;

    @include variables.media-query(variables.$on-laptop) {
        font-size: 16px;
    }
}

.container {
  margin-bottom: 100px;

  > .about-text {
      margin-bottom: 50px;
      > p {
        margin-bottom: 25px;
      }
  }

  > div {
      margin-bottom: 50px;
  }

  > .interests {
      > p {
        margin-bottom: 25px;
      }
  }

  @include variables.media-query(variables.$on-palm) {
    margin-bottom: 0px;
  }
}

.about-subtitle {
    margin-bottom: 10px;
}

.sub-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
}

.excerpt {
    font-size: 18px;
}

.centered-list {
      margin-left: 3rem;

      @include variables.media-query(variables.$on-palm) {
          margin-left: 1.5rem;
      }
}

.post-list {
      margin-left: 150px;
      list-style-type: upper-roman;

      @include variables.media-query(variables.$on-palm) {
          margin-left: 50px;
      }
}

.flex-item-3 {
    width: calc(variables.$full-width / 2);

    > .inside-image {
      width: variables.$full-width;
    }

    a {
      color: variables.$red-hover-color;
    }

}

.flex-item-4 {
    //margin-top: $spacing-unit;
    width: calc(variables.$full-width / 2);
    padding: 15px;

    > .inside-image {
      width: variables.$full-width;
    }

    > .inside-png-image {
      margin-top: 7px;
      width: variables.$full-width;
    }

    a {
      color: variables.$red-hover-color;
    }

}

.big-font {
    font-size: 40px;
    margin-bottom: 100px;
    text-align: right;

    > p {
        margin-bottom: 50px;
    }

    @include variables.media-query(variables.$on-palm) {
      font-size: 25px;
    }
}

.index-link {
    color: variables.$black-color;
    text-decoration: none;
    background-color: variables.$orange-hover-color;
    padding: 0px;

    &:hover {
       color: variables.$black-color;
    }

    @include variables.media-query(variables.$on-palm) {
      > .media-text {
         margin: -30px;
      }
    }
}

/**
 *  About page
 */

.photo-container {
      border-top: 55px solid variables.$strong-orange-color;
      transform: skew(0, -6deg);
}

.photo {
      margin-top: -50px;
      width: calc(variables.$full-width / 1.5);
      margin-left: 25%;
}

.important {
      background-color: variables.$orange-hover-color;
      padding: 5px;
}

/**
 *  Contact page
 */

.contact-container {
      margin-top: 70px;
      border-top: 55px solid variables.$strong-orange-color;
      transform: skew(0, 3deg);
}

.contact-box {
      margin-top: -40px;
      > p {
        margin-bottom: 25px;
      }
}

.flex-container {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    height: auto;
    line-height:30px;

    @include variables.media-query(variables.$on-palm) {
      padding: 20px;
      padding-bottom: 5px;
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
    }
}

.flex-item {
    padding: 10px;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0px;
    border: 5px solid variables.$strong-orange-color;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 0px;
    height: 70px;
    width: 120px;
    @include variables.media-query(variables.$on-palm) {
        padding: 0px;
        margin: 10px;
        margin-top: 0px;
        font-size: 1em;
        height: 30px;
        width: 120px;
    }
}

.flex-container-work {
    padding: .2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    height: auto;
    line-height:30px;

    @include variables.media-query(variables.$on-palm) {
      display: none;
    }
}

.flex-item-work {
    padding: 10px;
    padding-top: 0px;
    margin: .5rem;
    margin-top: 0px;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    flex: 1 1 0px;
    height: 70px;
    width: 100px;
    border: 2px solid #FBA671AF;
    @include variables.media-query(variables.$on-palm) {
        padding: 0px;
        margin: 10px;
        margin-top: 0px;
        font-size: 1em;
        height: 10px;
        width: 120px;
    }
}

.contact-calendar {
  position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.contact-calendar iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

@media all and (min-width: 768px) {
    .desk-calendar {display:block;}
    .phone-calendar {display:none;}
}

@media all and (max-width: 767px) {
    .desk-calendar {display:none;}
    .phone-calendar {display:block;}
}

.contact-code {
  font-family: monospace;
}

@media all and (min-width: 768px) {
    .desk-code {display:block;}
    .phone-code {display:none;}
}

@media all and (max-width: 767px) {
    .desk-code {display:none;}
    .phone-code {display:block;}
}
/**
 *  CV page
 */

.cv {
    margin-top: -20px;
    margin-left: 300px;
    width: 60%;
    border-left: 40px solid variables.$strong-orange-color;

    @include variables.media-query(variables.$on-palm) {
        margin-left: 10px;
        border-left: 10px solid variables.$strong-orange-color;
        width: 100%;
    }
}

/**
 *  Posts
 */

.post-content {
    margin-top: 4%;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 60px;
    font-family: variables.$page-font-family;
    font-size: 22px;
    > p {
      margin-bottom: 25px;
    }

    @include variables.media-query(variables.$on-palm) {
    margin-left: 30px;
    margin-right: 30px;
    }
}

.post-content img {
    display: block;
    margin-right: auto;
    margin-left:auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

.disclaimer {
    font-size: 16px;
}

.post-box {
    display: flex;
}

.divider {
  overflow: hidden;
}

.divider:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 5px solid #f980108f;
}
