/**
 * Site header
 */
.site-header {

    //fix the header in the top
    position: fixed;
    width: $full-width;
    background-color: white;

    z-index: 1;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $black-color;
    }

    .mobile-header {
        display: none;
        @include media-query($on-palm) {
            display: inline;
        }
    }
}

.menu {
    clear: both;
    float: right;
    margin-top: -50px;
    font-size: 20px;

    @include media-query($on-palm) {
        margin-left: 90px;
    }
}

.menu-link {
    background-color: white;
    border-top: 55px solid $strong-orange-color;

    &,
    &:visited {
        color: $black-color;
    }

    @include media-query($on-palm) {
        border-top: 0px;
        border-right: 5px solid $strong-orange-color;
        font-size: 16px;
        text-align: right;
        padding: 3px;
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    background-color: $strong-orange-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


.footer-link {
    text-decoration: none;
    background-color: $strong-orange-color;
    padding: 0px;

}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 3;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 3;

}

.footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
    .footer-col-1 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc($full-width - (#{$spacing-unit} / 2));
        width:         calc($full-width - (#{$spacing-unit} / 2));

        > h1 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        > p {
          font-size: 15px;
          margin-bottom: 10px;
        }
    }
}

/**
 * Page layout
 */

.page-header {
    font-family: $base-font-family;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 170px;
}

.page-title {
    font-size: 52px;
    font-weight: bold;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.page-content {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
    font-family: $page-font-family;
    font-size: 22px;
}

.container {
  margin-bottom: 100px;

  > .about-text {
      margin-bottom: 50px;
      > p {
        margin-bottom: 25px;
      }
  }

  > div {
      margin-bottom: 50px;
  }

  > .interests {
      > p {
        margin-bottom: 25px;
      }
  }

  @include media-query($on-palm) {
    margin-bottom: 0px;
  }
}

.about-subtitle {
    margin-bottom: 10px;
}

.sub-subtitle {
    font-size: 25px;
    margin-bottom: 10px;
}

.excerpt {
    font-size: 18px;
}

.centered-list {
      margin-left: 150px;

      @include media-query($on-palm) {
          margin-left: 50px;
      }
}

.post-list {
      margin-left: 150px;
      list-style-type: upper-roman;

      @include media-query($on-palm) {
          margin-left: 50px;
      }
}

.flex-item-3 {
    width: $full-width / 2;

    > .inside-image {
      width: $full-width;
    }

    a {
      color: $red-hover-color;
    }

}

.flex-item-4 {
    //margin-top: $spacing-unit;
    width: $full-width / 2;
    padding: 15px;

    > .inside-image {
      width: $full-width;
    }

    > .inside-png-image {
      margin-top: 7px;
      width: $full-width;
    }

    a {
      color: $red-hover-color;
    }

}

.big-font {
    font-size: 40px;
    margin-bottom: 100px;
    text-align: right;

    > p {
        margin-bottom: 50px;
    }

    @include media-query($on-palm) {
      font-size: 25px;
    }
}

.index-link {
    color: $black-color;
    text-decoration: none;
    background-color: $orange-hover-color;
    padding: 0px;

    &:visited {
       color: $black-color;
    }

    @include media-query($on-palm) {
      > .media-text {
         margin: -30px;
      }
    }
}

/**
 *  About page
 */

.photo-container {
      border-top: 55px solid $strong-orange-color;
      transform: skew(0, -6deg);
}

.photo {
      margin-top: -50px;
      width: $full-width / 1.5;
      margin-left: 25%;
}

.important {
      background-color: $orange-hover-color;
      padding: 5px;
}

/**
 *  Contact page
 */

.contact-container {
      margin-top: 70px;
      border-top: 55px solid $strong-orange-color;
      transform: skew(0, 3deg);
}

.contact-box {
      margin-top: -40px;
      > p {
        margin-bottom: 25px;
      }
}

.flex-container {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    height: auto;
    line-height:30px;

    @include media-query($on-palm) {
      padding: 20px;
      padding-bottom: 5px;
      display: inline-block;
      margin-left: 50px;
      margin-right: 50px;
    }
}

.flex-item {
    padding: 10px;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0px;
    border: 5px solid $strong-orange-color;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 0px;
    height: 70px;
    width: 120px;
    @include media-query($on-palm) {
        padding: 0px;
        margin: 10px;
        margin-top: 0px;
        font-size: 1em;
        height: 30px;
        width: 120px;
    }
}

/**
 *  CV page
 */

.cv {
    margin-top: -20px;
    margin-left: 300px;
    width: 60%;
    border-left: 40px solid $strong-orange-color;

    @include media-query($on-palm) {
        margin-left: 10px;
        border-left: 10px solid $strong-orange-color;
        width: 100%;
    }
}

/**
 *  Posts
 */

.post-content {
    margin-top: 8%;
}

